extends layout

block content
    h3 Formulir Pendaftaran Siswa Baru
    .container(ng-controller="sepeda.index.ctrl")
        .clearfix
            .row
                table.table.table-stripped
                    tr
                        th  Nama
                        th  Umur
                        th  Alamat
                        th  Asal
                        th

                    tr(ng-repeat="row in array")
                        td  {{row.name}}
                        td  {{row.age}}
                        td  {{row.address}}
                        td  {{row.origin}}
                        td
                            a.btn.btn-danger.btn-xs(style="margin: 5px", ng-click="onBtnDeleteClicked($index, row)")
                                i.fa.fa-trash
                            a.btn.btn-primary.btn-xs(ng-click="onChooseUpdateClicked(row)")
                                i.fa.fa-pencil &nbsp;
                                span Update
                    tr
                        td
                            input.form-control(type="text",placeholder="NAMA",ng-model="nama")
                        td
                            input.form-control(type="text",placeholder="UMUR",ng-model="umur")
                        td
                            input.form-control(type="text",placeholder="ALAMAT",ng-model="alamat")
                        td
                            input.form-control(type="text",placeholder="ASAL",ng-model="asal")
                        td
                            a.btn.btn-success.active(ng-click="onBtnAddClicked()", ng-show="!edit")
                                i.fa.fa-magic &nbsp;
                                span Tambahkan
                            a.btn.btn-primary.active(ng-click="onBtnUpdateClicked()", ng-show="edit")
                                i.fa.fa-telegram &nbsp;
                                span Edit

