extends layout

block content
    .container(ng-controller="sepeda.inventory.ctrl")
        .row
            .col-lg-8
                .form-group
                    a.btn.btn-primary(ng-click="onBtnModalClicked()") MODAL!
                .form-group
                    p.input-group
                        input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='dt', is-open='popup1.opened', datepicker-options='dateOptions', ng-required='true', close-text='Close', alt-input-formats='altInputFormats')
                        span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='open1()')
                                i.glyphicon.glyphicon-calendar

            .col-lg-4
                .form-group
                    input.form-control(placeholder="Cari sesuatu", ng-change="onSearchChanged()", ng-model="search")

        .form-group
            input.form-control(type="text",placeholder="NAMA",ng-model="name")
        .form-group
            input.form-control(type="number",placeholder="QTY",ng-model="qty")
        .form-group
            input.form-control(type="number",placeholder="PRICE",ng-model="price")
        .form-group
            input.form-control(type="text",placeholder="UNIT",ng-model="unit")
        .form-group
            a.btn.btn-success.active(ng-click="BtnTambah()")
                i.fa.fa-plus &nbsp;
                span Tambahkan

        .row: .col-lg-12
            h1  Yes
            table.table.table-striped.table-bordered.table-condensed
                tr(ng-repeat="data in array")
                    td {{data.name}}
                    td {{data.qty}}
                    td {{data.price}}
                    td {{data.unit}}