doctype html
html(ng-app="sepedaGaring")
  head
    title La Sucaiptoh
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/jquery/dist/jquery.min.js", type="text/javascript")
    script(src="/bootstrap/dist/js/bootstrap.min.js", type="text/javascript")
    script(src="/angular/angular.min.js", type="text/javascript")
    script(src="/angular-bootstrap/ui-bootstrap-tpls.min.js", type="text/javascript")

    //controller
    script(src="/javascript/app.js", type="text/javascript")
    script(src="/javascript/sepeda.index.ctrl.js", type="text/javascript")
    script(src="/javascript/sepeda.home.ctrl.js", type="text/javascript")
    script(src="/javascript/sepeda.inventory.ctrl.js", type="text/javascript")

     
